body{
    background-color: #ffffff;
    color : #1c1c1c;
}
.white , .white .linksCon a{
    background-color: #f7f7f5;
    color : #1c1c1c;
}
.whiteInput , .dot{
    background-color: #e5e5e0;
    color : #1c1c1c;
}
.dark{
    background-color:#1c1c1c ;
    color : #ffffff;
}
.dark .white , .dark .white .linksCon a{
    background-color: #282828;
    color: #ffffff;
}
.dark .whiteInput , .dark .dot{
    background-color: #333333;
    color: #ffffff;
}